/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400;600;700;800;900&family=Nunito+Sans:wght@300;400;600;700&display=swap');
:root{
    --theme_color:#ffdc39;
    --heading_color: #000000;
    --paragraph_color: #696687;
    --bg_color1: #253138;
    --linear_bg1: linear-gradient(145deg, #fe5268 0,#fb6738 100%);
    --linear_bg2: linear-gradient(90deg, #fe5268 0%, #fb6738 100%);
    --linear_bg3: linear-gradient(90deg, #fb6738 0%, #fe5268 100%);
    --white:#ffffff;
    --strong_blue: #223cbf;
    --moderate_violet: #8037c6;
    --body_color:#777777;
    --border_color1: #e0e0e0;
}
::-moz-selection {
    color: #fff;
    background: #ffdc39;
}
::selection {
    color: #fff;
    background: #ffdc39;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #ffffff;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #001064;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FA673B;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* scroll_up */
.scroll_up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99999;
}
.scroll_up i {
    color: #fff;
    height: 45px;
    width: 45px;
    background: var(--theme_color);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1260px;
    }
}
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8;
    color: var(--body_color);
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--white);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.form-control:focus{
    box-shadow: none;
}
p{  
    color: var(--paragraph_color);
    margin-bottom: 10px;
    line-height: 1.5;
}
a{
    color: inherit;
    text-decoration: none;
    transition: all .3s ease-in-out !important;
}
a:hover{
    text-decoration: none;
    color:var(--theme_color) !important;
}
h1,
h2,
h3,
h4,
h5{
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    color: var(--heading_color);
}
h1 {
    font-size: 62px;
    margin-bottom: 30px;
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
}
h2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 700;
}
h3{
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 600;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;

}
h6{
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    color: #777;
}
img {
    max-width: 100%;
    height: auto;
}
figure{
    margin: 0;
}
.logo{
    max-width: 180px;
}


/* reuseble_style_start */
.animation1{
    position: relative;
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes animation1 {
    from {top: 0px;}
    to {top: 20px;}
}
.shape1 {
    position: absolute;
    top: -240px;
    z-index: -1;
    left: 35px;
}
.shape2 {
    position: absolute;
    top: 160px;
    z-index: -1;
    width: 260px;
}
.shape3 {
    position: absolute;
    top: 240px;
    left: 365px;
    z-index: -1;
}
.shape4 {
    position: absolute;
    top: 285px;
    left: 385px;
    z-index: -1;
    max-width: 175px;
}
.section_header{
    margin-bottom: 25px;
}

.top-right-radius-0 {
    border-top-right-radius: 0 !important;
}
.top-left-radius-0 {
    border-top-left-radius: 0 !important;
}
.bottom-right-radius-0 {
    border-bottom-right-radius: 0 !important;
}
.bottom-left-radius-0 {
    border-bottom-left-radius: 0 !important;
}
.custom_zindex{
    z-index: -1;
}
.shadow1{
    box-shadow: 0 0 40px rgb(0 0 0 / 10%);
}
.shadow2{
    box-shadow:  0px 0px 20px 0px rgba(222, 224, 235, 0.78);
}
.shadow3{
    box-shadow: 0px 0px 20px 0px rgb(211 220 255 / 78%);
}
.shadow4{
    box-shadow: 0px 0px 21px 0px rgb(206 206 206 / 78%);
}
.border1{
    border: 1px solid var(--border1);
}
.highlight{
    color: var(--theme_color);
}
.cmn_btn {
    font-size: 12px;
    background: #14212a;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 6px;
    transition: all .3s ease;
    border: 1px solid transparent;
    display: inline-block;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
}
.cmn_btn:hover {
    background: var(--theme_color);
    color: var(--heading_color) !important;
}
.cmn_btn2 {
    background: var(--white);
    border: 1px solid transparent;
    padding: 7px 35px !important;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    color: var(--black) !important;
    font-size: 18px;
    display: inline-block;
}
.cmn_btn2:hover {
    color: var(--white) !important;
    background: var(--black);
    border: 1px solid transparent;
}
.cmn_box .image_area {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: var(--theme_color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmn_box i {
    font-size: 48px;
    color: var(--heading_color);
}
.login_btn {
    background: var(--theme_color);
    border: 1px solid transparent;
    padding: 7px 22px !important;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
    margin-left: 30px;
    color: var(--heading_color);
}
.login_btn:hover {
    color: var(--heading_color) !important;
    background: var(--black);
    border: 1px solid var(--theme_color);
}
.cmn_box2 .image_area{
    /* width: 60px; */
}
.cmn_box2 i {
    margin-right: 20px;
    font-size: 60px;
    color: var(--theme_color);
}

.video_play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video_play_btn i {
    color: var(--white);
    background: var(--theme_color);
    height: 75px;
    width: 75px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
section{
    padding: 100px 0; 
}
.cmn_title {
    max-width: 600px;
}
.para_text{
    max-width: 630px;
}
.section_subtitle {
    font-size: 14px;
    color: var(--heading_color);
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 662px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}
.section_subtitle::before {
    width: 100%;
    position: absolute;
    content: "";
    bottom: -8px;
    height: 3px;
    background: var(--theme_color);
}
.social_area ul li a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--theme_color);
    color: var(--theme_color);
    margin-right: 14px;
    transition: all .3s ease-in;
}
.social_area ul li a:hover {
    border: 1px solid var(--white);
    background: var(--white);
    color: var(--theme_color) !important;
}
.star ul li i {
    color: var(--theme_color);
}
.star ul li:not(:last-child){
    margin-right: 5px;
}
/* reusable_style_end */

/* margin_top */
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-70{
    margin-top: 70px;
}
.mt-75{
    margin-top: 75px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top: 100px;
}
.mt-150{
    margin-top: 150px;
}
/* margin_bottom */
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-65{
    margin-bottom: 65px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-150{
    margin-bottom: 150px;
}
/* padding_top */
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-25{
    padding-top: 25px;
}
.pt-30{
    padding-top: 30px;
}
.pt-35{
    padding-top: 35px;
}
.pt-40{
    padding-top: 40px;
}
.pt-45{
    padding-top: 45px;
}
.pt-50{
    padding-top: 50px;
}
.pt-75{
    padding-top: 75px;
}
.pt-80{
    padding-top: 80px;
}
.pt-100{
    padding-top: 100px;
}
.pt-150{
    padding-top: 150px;
}
/* padding_botton */
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-25{
    padding-bottom: 25px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-35{
    padding-bottom: 35px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-45{
    padding-bottom: 45px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-65{
    padding-bottom: 65px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-75{
    padding-bottom: 75px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-150{
    padding-bottom: 150px;
}
/* reuseble_style_end */


/* nav_area_start */
.navbar{
    transition: all .5s ease-in-out;
}
/* .navbar.active{
    background-color: var(--white);
    box-shadow: 0px 0px 20px 0px rgb(211 220 255 / 78%);
    z-index: 9999;
} */
.navbar .nav-link {
    font-size: 18px;
    font-weight: 500;
    margin: 0 7px;
    color: var(--heading_color);
}
.navbar .nav-link.active{
    color: var(--theme_color);
}
.navbar.active .login_btn {
    background: var(--black);
    color: var(--white) !important;
}
.navbar.active .login_btn:hover {
    color: var(--black) !important;
    background: var(--white);
    border: 1px solid var(--black);
}
.custom_nav {
    padding: 25px;
    /* box-shadow: 0 2px 40px 0 rgb(0 0 0 / 8%); */
    margin-top: 35px;
    border-radius: 8px;
    background: var(--white);
}
.nav_area .nav-item {
    padding: 0 10px;
}
.nav_area .nav-link {
    text-transform: capitalize;
    /* font-weight: 500; */
    color: var(--white);
    font-size: 18px;
}
/* nav_area_end */

/* Hero_area_start */
.hero_area {
    padding: 350px 0 245px 0;
    margin-top: -150px;
    background: url(../images/cmn_shape/overlay-bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_area .image_area{
    position: relative;
}

/* Hero_area_end */

/* Feature_area_start */

/* Feature_area_end */

/* about_area_start */
.about_area .section_right{
    position: relative;
}
.about_area .section_right::after {
    position: absolute;
    content: "";
    border: 10px solid var(--theme_color);
    z-index: 4;
    height: 100%;
    width: 100%;
    top: 60px;
    left: 85px;
    border-radius: 20px;
}
.about_area .section_right .image_area img {
    width: 450px;
    border-radius: 10px;
}
.about_area .section_right .img1 img {
    z-index: 1;
    position: relative;
    bottom: -115px;
    box-shadow: 0 0 30px rgb(15 8 49 / 10%);
}
.about_area .section_right .img2 img {
    position: absolute;
    right: -155px;
    top: 0;
}
/* about_area_end */

/* service_area_start */
.service_top {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0 250px 0;
    background: var(--bg_color1);
}
.service_top .section_subtitle, .service_top .section_header h2, .service_top .section_header p{
    color: var(--white);
}
.service_bottom .cmn_box2 img{
    width: 150px;
}
.service_bottom {
    margin-top: -170px;
    position: relative;
    background: var(--white);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}
/* service_area_end */

/* why_choose_use_start */
.why_choose_us_area .image_area{
    box-shadow: 0 5px 25px 0 rgb(27 20 100 / 15%);
    position: relative;
}
.why_choose_us_area .image_area::before {
    position: absolute;
    content: "";
    top: -50px;
    right: -50px;
    width: 100%;
    height: 100%;
    background: var(--theme_color);
    z-index: -1;
}
.number {
    background: var(--theme_color);
    color: var(--white);
    min-width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    font-weight: 700;
}
/* why_choose_use_end */

/* testimonial_area_start */
.testimonial_area .section_subtitle::before{
    background: var(--white);
}
.testimonial_inner {
    background: var(--theme_color);
    padding-top: 200px;
    padding-bottom: 240px;
    margin-right: -200px;
    padding-right: 225px;
    padding-left: 160px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.pro_title {
    font-size: 16px;
    color: var(--heading_color);
    text-transform: uppercase;
    font-weight: 600;
}
.testimonial_box {
    background: var(--white);
    position: relative;
    border-radius: 12px;
    box-shadow: 6px 0 19px 0 rgb(0 0 0 / 8%);
    padding: 60px 20px 45px 40px;
}
.testimonial_area .profile .image_area img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}
.testimonial_area .quote_area i {
    position: absolute;
    font-size: 18px;
    background: var(--heading_color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: -20px;
    right: -16px;
    color: var(--white);
}
.testimonial_area .cmn_icon img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.testimonial_area .owl-stage-outer {
    padding: 30px 0 30px 0px;
}
.testimonial_area .owl-theme .owl-nav{
    position: absolute;
    left: 0;
}
.testimonial_area .owl-theme .owl-nav button {
    border-radius: 50%;
}
.testimonial_area .owl-theme .owl-nav button span {
    width: 40px;
    height: 40px;
    border: 1px solid var(--heading_color);
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    color: var(--heading_color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.testimonial_area .owl-theme .owl-nav button span:hover{
    background: var(--heading_color);
    color: var(--white);
}
/* testimonial_area_end */

/* how_it_work_area_start */
.how_it_work_top{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 0 250px 0;
    background: var(--bg_color1);
}
.how_it_work_top .section_subtitle, .how_it_work_top h2, .how_it_work_top p{
    color: var(--white);
}
.how_it_work_bottom{
    margin-top: -170px;
    position: relative;
    background: var(--white);
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
}
.how_it_work_bottom .cmn_box i{
    font-size: 35px;
    color: var(--white);
}
/* how_it_work_area_end */

/* blog_area_start */
.blog_area {
}
.blog_box {
    position: relative;
    height: 100%;
    background: var(--white);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.blog_box:hover{
    box-shadow: none;
}
.blog_box .thum_inner{
    position: relative;
}
.thum_inner .date{
    position: absolute;
}
.blog_box img {
    height: 250px;
    width: 100%;
}
.blog_box .date {
    position: absolute;
    width: 60px;
    height: 70px;
    background: var(--theme_color);
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 5px;
}
.blog_box h3, .blog_box p {
    color: var(--heading_color);
}
.blog_box .text_area h4 a{
    text-transform: capitalize;
}
.blog_box .btn_area a{
    font-size: 12px;
    font-weight: 700;
    color: var(--heading_color);
}
/* blog_area_end */


/* footer_area_start */
.footer_area {
    background: #253138;
}
.footer_widget p {
    color: var(--white);
    font-weight: 400;
}
.footer_widget ul li{
    line-height: 2.5;
}
.footer_widget a {
    transition: all .3s ease;
    color: var(--white);
    font-weight: 300;
}
.footer_widget a:hover {
    color: var(--theme_color) !important; 
}
.footer_area .footer_widget h5 {
    position: relative;
    color: var(--white);
    margin-bottom: 40px;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 20px;
}
.footer_area .footer_widget h5::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: var(--theme_color);
    bottom: -12px;
    left: 0;
}
.footer_area form input {
    border-radius: 0;
    border: none;
    width: 100%;
    margin-bottom: 15px;
    height: 50px;
}
.footer_area .cmn_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 0;
    height: 50px;
}
/* footer_area_end */

/* copy_right_area */
.copy_right_area {
    padding: 25px 0;
    background: #253138;
}
.copy_right_area p {
    margin-bottom: 0;
    font-weight: 300;
    color: var(--white);
    opacity: .8;
}
.language a{
    color: var(--white);
}
.language a:not(:last-child){
    margin-right: 10px;
}
/* copy_right_end */


/* faq_area_start */
.faq_area .accordion-button {
    color: var(--heading_color);
    font-weight: 700;
    font-size: 18px;
}
.faq_area .accordion-button:focus, .faq_area .accordion-button:not(.collapsed) {
    box-shadow: none;
    background: var(--white);
}
.accordion-item:last-of-type{
    border-radius: 0;
}
.accordion-item{
    border-bottom: 1px solid var(--theme_color) !important;
    border: none;
}
.accordion_title {
    background: var(--white);
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 20px;
    font-size: 18px;
    color: var(--heading_color);
    font-weight: 700;
    text-align: start;
}
.accordion-button::after {
    background: url(../images/accordion/plus.png);
    width: 35px;
    height: 35px;
    background-color:var(--theme_color);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.accordion-button:not(.collapsed)::after{
    background: url(../images/accordion/minus.png);
    width: 35px;
    height: 35px;
    background-color:var(--theme_color);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* faq_area_end */

/* banner_area_start */
.banner_area {
    background: url(../images/banner/title-bar-bg.jpg);
    padding: 320px 0 150px 0;
    background-size: cover;
    background-position: center;
    margin-top: -150px;
}
.banner_area h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.breadcrumb_area {
    font-size: 20px;
    color: var(--heading_color);
    font-weight: 700;
}
/* .breadcrumb-item+.breadcrumb-item {
    color: var(--white);

} */
.breadcrumb-item+.breadcrumb-item::before {
    content: "\f105";
    color: var(--heading_color);
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
}
/* banner_area_END */

/* tracking_page_start */
.tracking_id_area .icon_area i {
    font-size: 50px;
    color: var(--theme_color);
    margin-bottom: 25px;
}
.tracking_id_area h3{
    font-size: 30px;
    font-weight: 700;
}
.tracking_id_area h5 {
    font-weight: 700;
    color: var(--body_color);
    font-size: 16px;
}
.tracking_id_area .form-control {
    min-height: 70px;
    border: 2px solid var(--theme_color);
    padding: 10px 175px 10px 20px;
}
.tracking_id_area .cmn_btn {
    position: absolute;
    right: 8px;
    height: 80%;
    width: 160px;
}
.tracking_area .icon_area {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--theme_color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-bottom: 20px;
}
.tracking_area h5{
    font-size: 18px;
    color: var(--body_color);
}
.cmn_box3 .icon_area{
   position: relative; 
}
.cmn_box3 .icon_area::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 245px;
    background: var(--theme_color);
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
}
.tracking_area .box:last-child .icon_area::after {
   width: 0;
}
.estmated_delivery {
    padding: 40px;
    border-radius: 5px;
    height: 100%;
}
.estmated_delivery .icon_area i{
    font-size: 60px;
    color: #00A652;
    margin-bottom: 30px;
}
.estmated_delivery .cmn_btn {
    background: #00A652;
    font-size: 16px;
}
.estmated_delivery .cmn_btn:hover {
    background: var(--theme_color);
}
.shipment_info_area h5{
    font-size: 18px;
    color: var(--body_color);
}
.shipment_details_area {
    padding: 40px 90px;
    border-radius: 5px;
    height: 100%;
}
.shipment_details_area .section_subtitle::before {
    left: 0;
}
.shipment_details_area ul li{
    margin: 15px 0;
}
.shipment_details_area ul:last-child{
    margin-left: 80px;
}
/* tracking_page_end */

/* service_page_modal_start */
.modal .modal-content {
    border-radius: 10px;
    height: 100%;
    text-align: center;
    border: none;
    padding: 10px 5px;
}
.modal .modal-content h5{
    font-size: 20px;
}
.modal .modal-content p{
    text-align: left;
}
.modal .modal-content button {
    background: transparent;
    border: none;
    font-size: 22px;
    color: var(--theme_color);
}
.modal{
    color: var(--black);
}
.modal .modal-header .btn-close{
    background: none;
    border: none;
}
.modal .modal-header .btn-close img{
   width: 24px;
}
.btn-close{
    width: auto;
    height: auto;
}
.modal .modal-body .custom_btn {
    padding: 10px 20px;
    font-size: 20px;
    background: var(--theme_color);
    color: var(--white);
    border: 1px solid var(--theme_color);
}
.modal .modal-body .custom_btn:hover{
    background: var(--color1);
    color: var(--theme_color) !important;
    border: 1px solid var(--theme_color);
}
.form-select {
    border: 1px solid var(--theme_color);
}
.form-select:focus{
    box-shadow: none;
    border: 1px solid var(--theme_color);
}
/* service_page_modal_end */

/* BLOG_DETAILS_PAGE_START */
.blog_details .blog_image img {
    width: 100%;
    max-height: 490px;
}
.blog_details_area .blog_header h3 {
    margin-bottom: 0;
    font-weight: 500;
}
.blog_details_area .blog_header span{
    margin-right: 15px;
}
.blog_details_area .blog_header span i {
    margin-right: 10px;
    color: var(--theme_color);
}
.blog_sidebar .section_header{
    margin-bottom: 30px;
}
.blog_sidebar .search_area {
    border: 1px solid var(--border1);
    padding: 0;
    margin-bottom: 60px;
    border-radius: 0;
}
.blog_sidebar .form-control {
    height: 50px;
    background-color: var(--white);
    border: 1px solid var(--border_color1);
    border-radius: 10px !important;
}
.blog_sidebar .input-group-text {
    font-size: 25px;
    color: var(--theme_color);
    width: 50px;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    background: transparent;
}
.blog_sidebar input[type="text"]:focus {
    border: none;
}
.blog_sidebar .blog_widget_area {
    background-color: var(--white);
    margin: 20px 0;
    border-bottom: 1px solid var(--border1);
    padding-bottom: 20px;
}
.blog_widget_area a:hover{
    color: var(--theme_color) !important;
}
.blog_date{
    transition: all .3s ease-in-out;
}
.blog_sidebar .blog_widget_image img {
    width: 100%;
    height: 85px;
}
.blog_details_area .blog_widget_image {
    width: 30%;
}
.blog_details_area .blog_widget_content {
    margin-left: 10px;
    width: 70%;
}
.blog_details_area .blog_widget_content .blog_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    transition: all ease .3s;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_details_area .categories_area li{
    border-bottom: 1px solid var(--border1);
    padding-bottom: 10px;
}
.blog_details_area .categories_area li a {
    font-size: 18px;
    font-weight: 500;
}
/* .blog_details_area .categories_area li a span:last-child{
    font-size: 22px;
} */
.blog_details_area .categories_area li a:hover{
    color: var(--theme_color) !important;
}

/* pagination_area */
.pagination_area ul li a {
    width: 45px;
    height: 45px;
    border-radius: 51% !important;
    color: var(--btn_bg1);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 1px solid var(--theme_color);
}
.pagination_area ul li i{
    display: flex;
}
.pagination_area ul li a:hover{
    background-color: var(--theme_color);
    color : var(--white) !important;
}
.pagination_area ul li a{
    box-shadow: none;
}
.pagination_area ul .active a{
    background-color: var(--theme_color);
    color : var(--white);
    border-color: var(--theme_color)
}
/* BLOG_DETAILS_PAGE_END */

/* CONTACT_PAGE_START */
.contact_page .section_header h3{
    max-width: 500px;
    margin-bottom: 25px;
}
.contact_area{
    padding-top: 20px;
}
.contact_area .section_subtitle {
    padding-left: 20px;
}
.contact_area .section_subtitle::before{
    left: 0px;
}
.contact_area p{
 max-width: 500px;
}
.contact_message_area {
    background: var(--bg_color1);
    padding: 20px;
    border-radius: 10px;
}
.contact_message_area .form-control{
    border: 0;
    background: transparent;
    border-bottom: 1px solid var(--theme_color);
    border-radius: 0;
}
.contact_message_area .form-control:focus{
    border-bottom: 1px solid var(--theme_color);

}
.map_area {
    margin-bottom: -15px;
}
/* contact_erea_end */
/* CONTACT_PAGE_END */

/* LOGIN_SIGNUP_PAGE_START */
.login_signup_page {
    background: url(../images/login/3d-business-young-woman-sitting-with-a-laptop-and-waving-her-hand.png);
    background-repeat: no-repeat;
    background-position: 35% 90%;
    background-size: 15%;
}

.login_signup_form{
    background: var(--bg_color1);
}
.login_signup_logo{
    max-width: 250px;
}
.login_signup_page .form-control {
    background: var(--bg_color1);
    border: none;
    border-bottom: 1px solid var(--theme_color);
    border-radius: 0;
}
.login_signup_page .form-check-input:checked {
    background-color: var(--theme_color);
    border-color: var(--theme_color);
}
.login_signup_page .form-check-input {
    border-color: var(--theme_color);
}
.login_signup_page .form-check-input:focus {
    border-color: var(--theme_color);
    box-shadow: none;
}
.login_signup_page .custom_btn {
    padding: 10px 20px !important;
}
.login_signup_page .form-select {
    border: none;
    
    background: transparent;
    border-bottom: 1px solid var(--theme_color);
    border-radius: 0;
}
/* LOGIN_SIGNUP_PAGE_END */

/* api_docs_page_start */
.api_docs_page .card-header{
    background: var(--linear_bg1);
    border: none;
}
.api_docs_page .card-title{
    color: var(--white);
    margin-bottom: 0;
    font-size: 18px;
}

.api_code{
    background: url(../images/api_docs/dots.png) no-repeat 30px 30px #393838;
    border-radius: 12px;
    color: #fff;
    position: relative;
    padding: 60px 30px 30px;
}
.api_docs_page h6{
    color: var(--theme_color);
}
/* api_docs_page_end */



/* responsive_css_area_start */

/* Maximum_width */

